
body {
    background-color:#fff;
    font-family: -apple-system, "system-ui", "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 0;
    font-stretch: 100%;
    line-height: 22.5px;
    margin: 0;
    width: 100%;

    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

span, p, h2, h3, li { font-size: 15px; }

h1 { font-size: 18px; }

pre { padding: 10px; }

div.main {
    max-width: 800px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

div.main.list a {
    text-decoration: none;
    color: black;
}

div.main.list a.readmore {
    text-align:right;
    display: block;
    width: 100%;
    font-size: 15px;
}

#logo {
    background-image: url("/logo-transparent.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px 30px;
    height: 30px;
    color: black;
    padding-left: 45px;
    line-height: 30.5px;
    display: block;

    position: absolute;
    left: 50px;
    
}

#nav {
    text-align: center;
}

/* Style the header */
#nav-border {
    width: 100%;
    padding: 10px 0px;
    z-index: 2;
    border-bottom: 1px solid #eee;
}

/* Style the header */
#nav-border ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    width: 500px;
}

#nav-border ul li {
    list-style: none;
    padding: 10px;
    padding-top: 6px;;
    position: relative;
    cursor: pointer;
}

#nav-border ul.submenu {
    display: none;
    background-color: #fff;
    border: 1px solid silver;
    border-top-width: 0;
    z-index: 999
}

#nav-border ul.submenu.visible {
    display: block;
    position: absolute;
    left: -100px;
    width: 300px;
    padding-top: 20px;
    padding: 10px;
    padding-bottom: 0;
}

#nav-border a {
    color: black;
    text-decoration: none;
}

.banner {
    text-align: center;
    padding: 50px;
}

.banner h1 {
    font-size: 38pt;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
}

.sticky + .content {
    padding-top: 102px;
}

article img {
    max-width: 100%;
}

footer {
    height: 300px;
    margin-top: 100px;
    background-color: #333;
    color: #aaa;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: right;
}

footer a {
    color: #aaa;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin: 0;
}

footer ul li {
    padding: 0;
    margin: 25px;
}

footer ul li ul {
    display: block;
    padding: 0;
    margin: 0;
}

footer ul li ul li {
    padding-left: 10px;
    padding: 0;
    margin: 0;
}

footer hr {
    margin-top: 50px;
}

footer .copyright {
    float:left;
    line-height: 40px;
}