name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x
        
    - name: Install CI Tooling
      run: | 
        dotnet new tool-manifest
        dotnet dotnet tool install --local --add-source ./scripts patchbot

    - name: Upgrade version-numbers and release notes
      run: dotnet patchbot

    - name: Run unit tests
      run: dotnet test --filter 'FullyQualifiedName~.UnitTests'